<!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white mt-5 container-fluid p-4 pb-0"
          style="background-color: #3e4551"
          >
    <!-- Grid container -->
    
      <!-- Section: Links -->
      <section class="row d-flex align-items-center">
        <!--Grid row-->
        
          <!--Grid column-->
          <div class="col-6  mb-4 mb-md-0 ">
                <img style = "width:150px" src="{{ asset('images/logo3.jpg') }}" alt="logo appRecette">
          </div>
          
          
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-6 mb-4 mb-md-0">
            <a class="text-decoration-none text-white" href="{{ path('app_mentions') }}">Mentions légales |</a>
             <a class="text-decoration-none text-white" href="{{ path('app_confientialite') }}">Politiques de confidentialité |</a>
             <a class=" text-decoration-none text-white" href="{{ path('contact_index') }}"> Contact</a>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-2 mb-4 mb-md-0">
           

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-2 mb-4 mb-md-0">
           

          </div>
          <!--Grid column-->
        
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a role="button" class="btn btn-outline-light btn-rounded" href="{{ path('security_registration')}}">
            Sign up!
          </a>
        </p>
      </section>
      <!-- Section: CTA -->

      <hr class="mb-4" />

      <!-- Section: Social media -->
      <section class="mb-4 text-center">
        
        <!-- Facebook -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="https://www.facebook.com/AppRecette-105343342416996"
           role="button"
           ><i class="fab fa-facebook-f"></i
          ></a>

        <!-- Twitter -->
       

        <!-- Linkedin -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="https://www.linkedin.com/feed/"
           role="button"
           ><i class="fab fa-linkedin-in"></i>
        </a>
          

      
    </section>
      <!-- Section: Social media -->
    
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="mailto:weijiangyang@laposte.net"
         >weijiangyang@laposte.net</a
        >
      </div>

    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->