{% extends "base.html.twig" %}
{% block title %}
    AppRecette - Modification de l'ingredient {{ ingredient.name }}
{% endblock %}
{% block body %}
{% block stylesheets %}
    {{ parent() }}
<style>
    body{
             background-image:url('{{app.request.getSchemeAndHttpHost() ~ "/images/table7.jpg" }}')
        }
    img{
        max-width: 80%;
    }

</style>
    
{% endblock %}
<div class="container w-50container w-50 bg-white border-rounded rounded-3 px-5 py-3 my-5">
    <h1 class="my-4">Modification de l'ingrédient</h1>
    <p class="text-info">(Le champ avec * n'est pas obligatoire à remplir)</p>
    {{ form_start(form) }}
            {{ form_row(form.name)}}
            {{ form_row(form.unit)}}
            {{ form_row(form.price)}}
            {{ form_row(form.imageFile)}}
            {{ form_row(form.description)}}
           

                {{ form_row(form.button,{'label':'Modifier l\'ingredient'}) }}
               
         
                
    {{ form_end(form) }}
</div>
    
{% endblock %}