{% extends 'base.html.twig' %}
{% block metades %}
    <meta name="description" content="la liste de mes ingrédients pour créer mes recettes">
{% endblock %}
{% block title %}AppRecette - Mes Ingrédients {% endblock %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        body{
            background-image:url('https://myrecette.s3.eu-west-3.amazonaws.com/images-background/table8.jpg')
        }

       
       
    
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid bg-white border-rounded rounded-3 px-5 py-3 my-5" style="width:80%">
        <h1 class="mt-4">Mes ingredients</h1>
        <div><a href="{{ path('ingredient_new') }}" class="btn btn-primary btn-sm my-4 ">Créer un ingrédient</a></div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                 {{ message }}
            </div>
           
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                 {{ message }}
            </div>
           
        {% endfor %}
        {% if ingredients|length > 0 %}
            <div class="count mb-4 ">
                Il y a <strong>{{ ingredients.getTotalItemCount }}</strong> ingrédients au total
            </div>
            <table class="table table-hover">
                <thead>
                    <tr style="border-bottom:3px solid orange">

                    <th scope="col">Nom</th>
                    <th scope="col">UnitPrix(€)</th>
                    <th scope="col">Unit</th>
                    <th scope="col">photo</th>
                    <th scope="col">Date</th>
                    <th scope="col">Voir</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr class="table-light">
                          
                            <td class="fw-bold" style="color:firebrick; font-size:1.1rem">{{ ingredient.name }}</td>
                            <td>{{ ingredient.price is same as null ? 'Non renseigné':ingredient.price }}</td>
                            <td>{{ ingredient.unit }} </td>
                            <td style="text-align:center"><img style = "max-width:75px; height:50px" src="{{ vich_uploader_asset(ingredient, 'imageFile') }}"></td>
                            <td>{{ ingredient.createdAt | date('d/m/Y')}}</td>
                            <td><a href="{{ path('ingredient_show',{ 'id':ingredient.id })}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></a></td>
                            <td><a href="{{ path('ingredient_edit',{ 'id':ingredient.id }) }}" class="btn btn-info btn-sm"><i class="fa-solid fa-pen-to-square"></i></a></td>
                            <td><a href="{{ path('ingredient_delete',{ 'id':ingredient.id }) }}" class="btn btn-warning btn-sm"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center my-4">
                {{ knp_pagination_render(ingredients) }}
            </div>
        {% else %}
            Il n'y a pas d'ingrédient
        {% endif %}
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script>
        const link = document.querySelector('#ingredient');
        link.classList.add('active');
    </script>
{% endblock %}
