{% extends "base.html.twig" %}
{% block metades %}
    <meta name="description" content="la création d'une ingrédient sur l'appRecette">
    
{% endblock %}
{% block title %}AppRecette - Création d'une ingrédient {% endblock %}
{% block stylesheets %}
    {{ parent()}}
    <style>
        body{
            background-image:url('https://myrecette.s3.eu-west-3.amazonaws.com/images-background/table10.jpg')
        }
    
    </style>
{% endblock %}
{% block body %}
    <div class="container w-50container bg-white border-rounded rounded-3 px-5 py-3 my-5" style="width:50%">
        <h1 class="my-4">Création d'un ingrédient</h1>
        <p class="text-info">(Le champ avec * n'est pas obligatoire à remplir)</p>
            {{ form_start(form) }}
    
                <div class="form-group my-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name)}}
                    <div class="form-error text-danger">
                        {{ form_errors(form.name)}}
                        {% if error is not same as  null %}
                            {{ error }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group my-3">
                    {{ form_label(form.unit) }}
                    {{ form_widget(form.unit)}}
                    <div class="form-error text-danger">
                        {{ form_errors(form.unit)}}
                        {% if error is not same as  null %}
                            {{ error }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group my-3">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price)}}
                    <div class="form-error text-danger">
                        {{ form_errors(form.price)}}
                        {% if error is not same as  null %}
                            {{ error }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group my-3">
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile)}}
                    <div class="form-error text-danger">
                        {{ form_errors(form.imageFile)}}
                        {% if error is not same as  null %}
                            {{ error }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group my-3">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description)}}
                    <div class="form-error text-danger">
                        {{ form_errors(form.description)}}
                        {% if error is not same as  null %}
                            {{ error }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group my-3">
                    {{ form_row(form._token) }}
                    
                </div>
                <div class="form-group my-3">
                    {{ form_row(form.button) }}
                    
                </div>
                
                
            {{ form_end(form) }}
        
    </div>
    
{% endblock %}
