{% extends "base.html.twig" %}
{% block title %}
    AppRecette - {{ ingredient.name }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>
    body{
            background-image:url('{{app.request.getSchemeAndHttpHost() ~ "/images/table7.jpg" }}')
        }

</style>
    
{% endblock %}

{% block body %}
    <div class="container w-75 bg-white border-rounded rounded-3 px-5 py-3 my-5">
        <h1 class="mt-4">{{ ingredient.name }}</h1>
        {% for message in app.flashes('success') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}
        <div class="row">
        <div class="col-md-5">
            {% if ingredient.imageName %}
                <img style = "max-width:300px" src="{{ vich_uploader_asset(ingredient, 'imageFile') }}">
          
            {% endif %}
            <p class="text-warning fst-italic mt-2">created at {{ ingredient.createdAt | date('d/m/Y') }} by <a href="{{ path('user_show',{'id': ingredient.user.id}) }}">{{ ingredient.user.fullName }}</a></p> 
           
            
           
            
        </div>
        <div class="col-md-7">
                 <p class="mt-4"><strong>Unit: </strong>{{ ingredient.unit? ingredient.unit : 'non renseigné'}} </p>
                 <p class="mt-4"><strong>Prix: </strong>{{ ingredient.price? ingredient.price : 'non renseigné'}} </p>
                
                <p class="mt-4"><strong>Description:</strong></p>
                <div>{{ ingredient.description | raw}}</div>
        </div>
        </div>
     
    </div>
{% endblock %}