{% extends "base.html.twig" %}
{% block metades %}
    <meta name="description" content="les détails de mon ingrédient : {{ ingredient.name }}">
    
{% endblock %}
{% block title %}
    AppRecette - l'ingrédient {{ ingredient.name }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>
    body{
            background-image:url('https://myrecette.s3.eu-west-3.amazonaws.com/images-background/table7.jpg')
        }
    img{
        max-width: 80%;
        max-height:300px;
    }

</style>
    
{% endblock %}

{% block body %}
    <div class="container w-75 bg-white border-rounded rounded-3 px-5 py-3 my-5">
        <h1 class="mt-4">{{ ingredient.name }}</h1>
        {% if app.user is same as ingredient.user %}
            <a href="{{ path('ingredient_edit',{'slug':ingredient.slug}) }}" class="btn btn-primary btn-sm mb-3">Modifier cette ingrédient</a>
        {% endif %}
        {% for message in app.flashes('success') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}
        <div class="row">
        <div class="col-md-6">
            {% if ingredient.imageName %}
                <img style = "max-width:100%" src="{{ vich_uploader_asset(ingredient, 'imageFile') }}" alt = '{{ 'image de l\'ingredient  ' ~ ingredient.name }}'>
          
            {% endif %}
            <p class="text-warning fst-italic mt-2">created at {{ ingredient.createdAt | date('d/m/Y') }} by <a href="{{ path('user_show',{'id': ingredient.user.id}) }}">{{ ingredient.user.fullName }}</a></p> 
           
            
           
            
        </div>
        <div class="col-md-6">
                 <p class="mt-4"><strong>Unit: </strong>{{ ingredient.unit? ingredient.unit : 'non renseigné'}} </p>
                 <p class="mt-4"><strong>Prix unitaire(€): </strong>{{ ingredient.price? ingredient.price : 'non renseigné'}} </p>
                
                <p class="mt-4"><strong>Description:</strong></p>
                <div>{{ ingredient.description | raw}}</div>
        </div>
        </div>
     
    </div>
{% endblock %}