{% extends 'base.html.twig' %}

{% block title %} AppRecette - recettes-public{% endblock %}

{% block body %}
      <div class="container">
        
        <h1 class="mt-4 text-center">Recettes de la communauté</h1>
        <div class="d-flex justify-content-start flex-wrap mt-4 ms-4">
          {% for recipe in recipes %}
             <div class="card border-primary mb-3 mx-3" style="max-width: 20rem;">
                <div class="card-header text-center ">
                  <strong><a class='text-decoration-none' href="{{ path('recipe_show',{'id':recipe.id}) }}">{{ recipe.name | capitalize }}</a></strong>
                </div>
                <div class="card-body">
                  {# <h4 class="card-title">{{ recipe.name }}</h4> #}
                  <p class="card-text">{{ recipe.description | raw}}</p>
                </div>
              </div>
          {% endfor %}

        </div>
        <div class="navigation d-flex justify-content-center my-4">
                {{ knp_pagination_render(recipes) }}
          </div>
         
      </div>
    
    

{% endblock %}