{% extends "base.html.twig" %}
{% block title %}
    AppRecette - recette {{ recipe.name }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>
    body{
            background-image:url('{{app.request.getSchemeAndHttpHost() ~ "/images/table7.jpg" }}')
        }
    

</style>
    
{% endblock %}

{% block body %}
    <div class="container w-75 bg-white border-rounded rounded-3 px-5 py-3 my-5">
        <h1 class="mt-4">{{ recipe.name }}</h1>
        {% if app.user is same as recipe.user %}
            <a href="{{ path('recipe_edit',{'id':recipe.id}) }}" class="btn btn-primary btn-sm mb-3">Modify cette recette</a>
        {% endif %}
        
        {% for message in app.flashes('success') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}
        <div class="row">
        <div class="col-md-7">
            {% if recipe.imageName %}
                <img style = "max-width:100%" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt = '{{ 'image de recette ' ~ recipe.name }}'>
            {% else %}
                <img style = "max-width:300px ; height: 350px" src="{{ asset('images/no-recette.jpg') }}" alt = '{{ 'image de recette ' ~ recipe.name }}'>
            {% endif %}
            <p class="text-warning fst-italic mt-2">created at {{ recipe.createdAt | date('d/m/Y') }} by <a href="{{ path('user_show',{'id': recipe.user.id}) }}">{{ recipe.user.fullName }}</a></p> 
            <p>La moyenne de cette recette : <strong>{{ recipe.average| number_format(2, '.', ',') }}/5</strong></p>      
            <p>
                {% for category in recipe.categories %}
                    <span class="fst-italic  fw-bold"><a href="{{ path('recette_index_public',{'id': category.id}) }}" class="text-decoration-none text-info">#{{ category.name }}</a></span>
                {% endfor %}
            </p>
            {% if form is defined %}
             <div style="width:40%">
                {% if app.user is not same as recipe.user %}
                    {{ form(form) }} 
                {% endif %}
            </div>
            {% endif %}
           
            
        </div>
        <div class="col-md-5 text-start">
                <p class="mt-4"><strong>Temps(en minutes): </strong>{{ recipe.time? recipe.time : 'non renseigné'}} </p>
                <p><strong>Pour</strong> {{ recipe.nbPeople? recipe.nbPeople : '(non renseigné)'}} <strong>personnes</strong></p>
                <p><strong>Difficulté:</strong> {{ recipe.difficulty ? recipe.difficulty : 'non renseigné'}}/5</p>
                <p><strong>Prix(en euro):</strong> {{ recipe.price ? recipe.price : 'non renseigné'}} </p>
                <p class="mt-4"><strong>Ingrédients:</strong> </p>
                {% for ingredient in recipe.ingredients%}
                    <span class="badge bg-primary mt-1"><a href="{{ path('ingredient_show',{'id':ingredient.id})}}" class="text-white text-decoration-none">{{ ingredient.name }}</a></span>
                {% endfor %}
                
        </div>
        <p class="mt-4" style = "width:100%"><strong>Description:</strong></p>
                <div>{{ recipe.description | raw}}</div>
        </div>
        <hr>
     <h2 class="comment-title mt-5">
        <span id ="comment-count">{{ recipe.comments | length}}</span>
       commentaire(s)
    </h2>
    <hr>
    {# {% if app.user %} #}
    {% if formComment is defined %}
        <div class="comment-area mb-5">

             {{ form(formComment,{'attr':{'class':'comment-form'}}) }}
            
        </div>
       
    {% endif %}
    
        
   
    <div class="comments-list">
        {% for comment in comments %}
            {% include "pages/comment/show.html.twig" %}
        {% endfor %}
    </div>
            
       
        
         
    </div>
{% endblock %}