{% extends "base.html.twig" %}
{% block title %}
    Symrecipe - {{ recipe.name }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mt-4">{{ recipe.name }}</h1>
        {% for message in app.flashes('success') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}
        <p><strong>La moyenne de cette recette :</strong> {{ recipe.average| number_format(2, '.', ',') }}/5</p>
        {# {{ dump(recipe.average) }} #}
        {# <p class="text-info">Note:{{ recipe.average | number_format(2, '.', ',')}}</p> #}
        <span class="badge bg-primary"> Créer le {{ recipe.createdAt | date('d/m/Y') }}</span>
        <p class="mt-4"><strong>Temps(en minutes): </strong>{{ recipe.time? recipe.time : 'non renseigné'}} </p>
        <p><strong>Pour</strong> {{ recipe.nbPeople? recipe.nbPeople : '(non renseigné)'}} <strong>personnes</strong></p>
        <p><strong>Difficulté:</strong> {{ recipe.difficulty ? recipe.difficulty : 'non renseigné'}}</p>
        
        <p><strong>Prix(en euro):</strong> {{ recipe.price ? recipe.price : 'non renseigné'}} </p>
        <p class="mt-4"><strong>Ingrédients:</strong> </p>
        {% for ingredient in recipe.ingredients%}
            <span class="badge bg-primary mt-1"><a href="#" class="text-white text-decoration-none">{{ ingredient.name }}</a></span>
        {% endfor %}
        <p class="mt-4"><strong>Description:</strong></p>
        <div>{{ recipe.description }}</div>
        
        {# <div >
             <img style = "max-width:300px" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
        </div> #}
       
        <hr>
         {{ form(form) }} 
    </div>
{% endblock %}