{% extends 'base.html.twig' %}
{% block metades %}
    <meta name="description" content="Modification du profile de {{ app.user.fullName }} sur l'appRecette">
    
{% endblock %}
{% block title %}AppRecette - Modification du profile de {{ app.user.fullName }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>
    body{
             background-image:url('{{app.request.getSchemeAndHttpHost() ~ "/images/wall.jpg" }}')
        }

</style>
    
{% endblock %}
{% block body %}
<div class="container w-50 bg-white border-rounded rounded-3 px-5 py-3 my-5">
    <h1>Modification de Profile </h1>
    {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                 {{ message }}
            </div>
    {% endfor %}
    {{ form(form) }}
</div>
    
{% endblock %}
