{% extends 'base.html.twig' %}
{% block metades %}
    <meta name="description" content="connectez vous sur l'appRecette pour créer vos propres recettes et les partager avec les autres ou les garder pour vous-même">
    
{% endblock %}

{% block title %}AppRecette - Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
    body{
            background-image:url('https://myrecette.s3.eu-west-3.amazonaws.com/images-background/wall.jpg')
        }

</style>
    
{% endblock %}

{% block body %}
    <div class="container bg-white border-rounded rounded-3 px-5 py-3 my-5" style="max-width:600px">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1>Formulaire de connexion</h1>
 
       
    {% if error %}
        <div class="alert alert-danger mt-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('security_login') }}" method="post" name = "login">
        <div class="form-group">
            <label for="username" class="form-label mt-4">Email addresse</label>
            <input type="email" class="form-control" id="username" name="_username" placeholder="addresse email" value="{{ last_username }}">  
        </div>

        <div class="form-group">
            <label for="password" class="form-label mt-4">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="******">
        </div>
       

        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    
        <button type ='submit' class="btn btn-primary mt-4">Se connecter</button>
    </form>
</div>

{% endblock %}
